<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACD2ICR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACD2ICR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ACD2ICR.Properties.Settings>
            <setting name="DBServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>icresponse</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>rootalso</value>
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value>A9m1n</value>
            </setting>
            <setting name="ACDLoginUrl" serializeAs="String">
                <value>https://acd2.ststelecom.com/QueueManager/Login.php?ret_link=%2FQueueManager%2Fagent_ctl.php&amp;type=notLogged&amp;ccsForm=Login</value>
            </setting>
            <setting name="ACDOverViewUrl" serializeAs="String">
                <value>https://acd2.ststelecom.com/QueueManager/activity_monitor.php</value>
            </setting>
            <setting name="ACDGoBusy" serializeAs="String">
                <value>https://acd2.ststelecom.com/QueueManager/ReadyBusy.php?paused=0</value>
            </setting>
            <setting name="ACDGoReady" serializeAs="String">
                <value>https://acd2.ststelecom.com/QueueManager/ReadyBusy.php?paused=1</value>
            </setting>
            <setting name="DBInsertOverview" serializeAs="String">
                <value>INSERT INTO acdoverview (name, date, phone, status,passed) VALUES (?name, ?date, ?phone, ?status, ?passed)</value>
            </setting>
            <setting name="DBInsertActiveCalls" serializeAs="String">
                <value>INSERT INTO calls(uid, status, date, startTime, holdtime, duration, tech, queuename) VALUES (?uid, ?status, ?date, ?startTime, ?holdtime, ?duration, ?tech, ?queuename)</value>
            </setting>
            <setting name="VMLoginUrl" serializeAs="String">
                <value>http://vm.ststelecom.com/portal/</value>
            </setting>
            <setting name="VMVXView" serializeAs="String">
                <value>http://vx2.voip.mia1.net.ststelecom.com:8082/VXView</value>
            </setting>
            <setting name="VMVXViewRoot" serializeAs="String">
                <value>http://vx2.voip.mia1.net.ststelecom.com:8082/VXView/</value>
            </setting>
            <setting name="VMVXViewDo" serializeAs="String">
                <value>http://vx2.voip.mia1.net.ststelecom.com:8082/VXView/VXView.do</value>
            </setting>
            <setting name="VMVXViewLogin" serializeAs="String">
                <value>http://vx2.voip.mia1.net.ststelecom.com:8082/VXView/login.do</value>
            </setting>
            <setting name="VMVXViewJSPTop" serializeAs="String">
                <value>http://vx2.voip.mia1.net.ststelecom.com:8082/VXView/jsp/top.jsp</value>
            </setting>
            <setting name="VMVXViewJSPNav" serializeAs="String">
                <value>http://vx2.voip.mia1.net.ststelecom.com:8082/VXView/jsp/navigation.jsp</value>
            </setting>
            <setting name="SMTPport" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SMTPhost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SMTPusername" serializeAs="String">
                <value>icr.reports@gmail.com</value>
            </setting>
            <setting name="SMTPpassword" serializeAs="String">
                <value>Samurai8</value>
            </setting>
            <setting name="SMTPsubjectline" serializeAs="String">
                <value>ICRealtime Reports</value>
            </setting>
            <setting name="EMAILlistfilepath" serializeAs="String">
                <value>C:\\ICRmonthlyReportsRecipients.txt</value>
            </setting>
            <setting name="EMAILmessageheader" serializeAs="String">
                <value>Call Center Report</value>
            </setting>
            <setting name="EMAILsendtime" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DBGetAgentDailyStats" serializeAs="String">
                <value>SELECT tech,AVG(TIME_TO_SEC(TIMEDIFF(stopTime,startTime))) AS TechAverageDuration,COUNT(*) AS NumOfRows FROM calls WHERE date=CURDATE() GROUP BY tech</value>
            </setting>
            <setting name="DBGetMonthlyReport" serializeAs="String">
                <value>SELECT tech,AVG(TIME_TO_SEC(TIMEDIFF(stopTime,startTime))) AS TechAverageDuration,COUNT(*) AS NumOfRows FROM calls WHERE date BETWEEN DATE_SUB(CURDATE(),INTERVAL 30 DAY) AND CURDATE() GROUP BY tech</value>
            </setting>
            <setting name="ACDQueueLanding" serializeAs="String">
                <value>https://acd2.ststelecom.com/QueueManager/queuecalls.php?s_call_date=&amp;s_end_date=&amp;s_unique_id=&amp;s_ani=&amp;s_abandoned=&amp;s_call_type=&amp;s_agent_name=&amp;s_queue_name=&amp;queue_callsOrder=&amp;queue_callsDir=&amp;queue_callsPageSize=100&amp;queue_callsPage=</value>
            </setting>
            <setting name="DBInsertCompletedCall" serializeAs="String">
                <value>UPDATE calls SET status=?status,startTime = ?startTime, stopTime =?stopTime, holdtime=?holdtime, duration=?duration WHERE uid=?uid</value>
            </setting>
            <setting name="DBCheckUID" serializeAs="String">
                <value>SELECT COUNT(*) AS NumOfRows FROM calls WHERE uid=</value>
            </setting>
            <setting name="DBGetCallRecordByUID" serializeAs="String">
                <value>SELECT status, holdtime, duration FROM calls WHERE uid=</value>
            </setting>
            <setting name="ACDTrunc" serializeAs="String">
                <value>TRUNCATE TABLE acdoverview</value>
            </setting>
        </ACD2ICR.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ACD2ICR.Properties.Settings>
            <setting name="DVCheck_OviewViewURL" serializeAs="String">
                <value>SELECT COUNT(*) AS NumOfRows FROM calls WHERE name=</value>
            </setting>
        </ACD2ICR.Properties.Settings>
    </userSettings>
</configuration>